.appointment-button {
    display: inline-block;
    margin-top: 10px;
    padding: 20px 50px;
    border-radius: 25px;
    background-color: #008000; /* Màu xanh đậm */
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s ease;
    border: none;
    box-shadow: 0 4px 6px;
    width: 100%
}

.appointment-button:hover {
    background-color: #00b300; /* Màu xanh đậm khi hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.appointment-button:focus {
    outline: none;
}



.doctor-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 128, 0, 0.2);
    background-color: #ffffff;

}

.doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 128, 0, 0.3);
}

.blog-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-cap {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doctor-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.degree {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

.specialization {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
}

.ratings {
    display: flex;
    align-items: center;
}

.rating {
    margin-right: 5px;
    color: #fdd835;
}

.comments {
    display: flex;
    align-items: center;
}

.comment {
    margin-right: 5px;
    color: #9e9e9e;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-lg-4,
.col-md-6 {
    padding: 0 15px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/* CSS for small screens */
@media (max-width: 768px) {

    .col-lg-4,
    .col-md-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
}
.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-search form {
    display: flex;
    align-items: center;
}

.header-search input[type="text"] {
    padding: 12px 45px 12px 15px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-search button {
    padding: 12px;
    border: none;
    background-color: #008000;
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: -30px;
}

.header-search button:hover {
    background-color: black;
}

.header-search input[type="text"] {
    padding: 12px 15px;
    border: 1px solid #008000; /* Đường viền có màu xanh lá cây */
    border-radius: 50px;
    font-size: 17px;
    width: 600px; /* Tăng chiều rộng để làm dài hơn */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-left: -13px; /* Đẩy sang trái để trải rộng ra hai bên */
    margin-right: -15px; /* Đẩy sang phải để trải rộng ra hai bên */
}

.header-search input[type="text"]:focus {
    outline: none;
    border-color: #00b300; /* Đường viền có màu xanh lá cây khi được focus */
}

.fa-search {
    font-size: 16px;
    color: #ffffff; /* Màu xanh lá cây */
}

@media (max-width: 767px) {
    /* CSS dành cho màn hình nhỏ hơn 1080px */
    .header-search input[type="text"],
    .header-search button {
        padding: 8px;
        font-size: 12px;
    }

    .header-search input[type="text"] {
        width: 100%;
    }
}


.specialty-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.specialty-item {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
}

.specialty-item:hover {
    background-color: #58b74f; /* Thay đổi màu nền khi di chuột vào */
}

.specialty-item:active {
    background-color: darkblue; /* Thay đổi màu nền khi đang được bấm */
}

/* Thêm quy tắc này để tô đậm chữ khi đang hover */
.specialty-item:hover a {
    font-weight: bold;
}



@media (max-width: 480px) {
    /* CSS dành cho màn hình nhỏ hơn 767px */
    .specialty-list{
        flex-direction: column;
        align-items: flex-start;
    }

    #form-login-home {
        list-style-type: none;
        padding: 0;
    }

    #form-login-home li {
        position: relative;
    }

    #form-login-home li ul.xo-suong {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #f9f9f9;
        padding: 0;
        margin: 0;
        list-style-type: none;
        z-index: 1;
    }

    #form-login-home li:hover ul.xo-suong {
        display: block;
    }

    #form-login-home li ul.xo-suong li {
        display: block;
    }

    #form-login-home li ul.xo-suong li a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: #333;
    }

    #form-login-home li ul.xo-suong li a:hover {
        background-color: #ccc;
    }
    .popup-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
    }

    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        display: none;
    }

    .popup-title {
        margin-top: 0;
    }

    .popup-close {
        margin-top: 20px;
    }

}