<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>showDoctor</servlet-name>
        <servlet-class>Control.showDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllDoctor</servlet-name>
        <servlet-class>Control.showAllDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchSevlet</servlet-name>
        <servlet-class>Control.searchSevlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showSpecialty</servlet-name>
        <servlet-class>Control.showSpecialty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showBlog</servlet-name>
        <servlet-class>Control.showBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailBlog</servlet-name>
        <servlet-class>Control.detailBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchBlog</servlet-name>
        <servlet-class>Control.searchBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>Control.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signup</servlet-name>
        <servlet-class>Control.signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>Control.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CRUDBenhnhan</servlet-name>
        <servlet-class>Control.CRUDBenhnhan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPass</servlet-name>
        <servlet-class>Control.forgotPass</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showDoctor</servlet-name>
        <url-pattern>/trang-chu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllDoctor</servlet-name>
        <url-pattern>/bac-si</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchSevlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showSpecialty</servlet-name>
        <url-pattern>/Chuyen-khoa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showBlog</servlet-name>
        <url-pattern>/cam-nang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailBlog</servlet-name>
        <url-pattern>/chi-tiet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchBlog</servlet-name>
        <url-pattern>/searchBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/dang-nhap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/dang-ki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/dang-xuat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CRUDBenhnhan</servlet-name>
        <url-pattern>/chinh-sua</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPass</servlet-name>
        <url-pattern>/quen-mat-khau</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            trang-chu
        </welcome-file>
    </welcome-file-list>
</web-app>
